html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
body>*:first-child{
  align-self: stretch;
}
body .footerbg{
  align-self: stretch;
  background-color: #1f2021;
  margin-bottom: -100px;
}

.col{
  color:white;
  
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 1px;

}

.form-signin input[type="password"] {
  margin-bottom: 1px;
 
}

.forgot{
  margin-left: 87px;
  margin-bottom: 5%;
}
